{% load static %}
<link href="{% static 'css/cool.css' %}" rel="stylesheet">
AMISUL
<!-- <h1>By Anisul</h1> --> <!-- for tagName select-->

<!-- <h2 class='pop'> class name</h2> -->  <!-- for className select-->




<!-- <button onClick="one()">Click Me1</button>  --> <!-- for button example -->
<!-- <button onClick="two()">Click Me2</button> -->  <!-- for button example -->

<p id='test'>  </p> <!-- for id select-->

<!-- <img id="test" src="#" alt="me" height="300" width="500"> -->


<script src="{% static 'js/anisul.js' %}"></script>

<!-- <img src="{% static 'lol.png' %}">  -->